* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 5;
}

header .logo img {
  height: 2.5rem;
}
.element2 {
  display: flex;
  gap: 1rem;
  margin-right: 8rem;
}
header .bus-ticket {
  height: 4rem;
  width: 6rem;
  background-color: #d84e55;
  color: white;
  border-radius: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.bus-ticket img {
  filter: brightness(0) invert(1);
}
.train-ticket {
  height: 4rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.element3 {
  display: flex;
  gap: 2rem;
  margin-left: 10rem;
}
.help {
  display: flex;
  gap: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
}
.account {
  display: flex;
  gap: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
}
/*Hero section*/
.hero-section img {
  position: relative;
  top: 80px;
}
.hero-heading {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero-img-content {
  position: absolute;
  top: 37%;
  left: 23%;
}
.hero-img-content-searchbox {
  height: 5rem;
  width: 100%;
  border-radius: 2.5rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 68%,
    rgba(216, 78, 85, 1) 68%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.display {
  display: flex;
  gap: 1rem;
}
.search {
  color: white;
  font-weight: 700;
}
/*maincontent*/
.body-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2rem;
  gap: 5rem;
}
.card1 {
  width: 80%;
  height: 18.75rem;
  background-color: #fbfbfb;
  border-radius: 2rem;
  box-shadow: inset 1px 1px 0 #aaa, inset 0 -1px 0 #aaa;
}
.card1-content {
  display: flex;
}
.card1-heading {
  display: flex;
  justify-content: space-between;
  margin: 0.9rem 1.5rem 0 1.5rem;
}
.card1-heading button {
  border-radius: 28px;
  background-color: transparent;
  border: #aaa solid 2px;
  color: #1013e9;
  font-size: 15px;
  width: 5.5rem;
  height: 3.5rem;
  text-decoration: none;
}
.card1-content1 {
  width: 17.5rem;
  height: 10rem;
  border-radius: 0.8rem;
  margin: 2rem 0 0 1rem;
  padding: 0.5rem 0 0 1rem;
  background-image: linear-gradient(
    71.04deg,
    rgb(72, 0, 4) -6.92%,
    rgb(216, 78, 85) 109.43%
  );
}
.card1-content1 {
  display: flex;
  gap: 1.5rem;
}
.card1-content1-content {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#button-1 {
  background-color: #ffffff33;
  border: 2px dashed white;
  border-radius: 28px;
  color: #fbfbfb;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  width: 5rem;
  height: 2.1rem;
  text-decoration: none;
}
#button-2 {
  background-color: #ffffff33;
  border: 2px dashed white;
  border-radius: 28px;
  color: #fbfbfb;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  width: 5rem;
  height: 2.1rem;
  text-decoration: none;
}
/*card2*/
.card2 img {
  width: 60rem;
  height: 5rem;
}
